<div>
    <h2 class="text-muted">Carteira <small>Simplificada</small></h2>
    <div class="row">
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                            <div class="card-header">Carteira</div>
                            <div class="card-body table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Sigla</th>
                                        <th>Nome</th>
                                        <th>Data Compra</th>
                                        <th>Valor Compra</th>
                                        <th>Qtd</th>
                                        <th>Total Investido</th>
                                        <th>Valor Atual</th>
                                        <th>Rentab. %</th>
                                        <th>Total Atual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let papel of carteira">
                                        <th scope="row" (click)="isCollapsed = !isCollapsed"
                                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">{{papel.sigla}}</th>
                                        <td>{{papel.desc}}</td>
                                        <td>01/12/2018</td>
                                        <td>15,00</td>
                                        <td>100</td>
                                        <td>1.500,00</td>
                                        <td>20,00</td>
                                        <td>90%</td>
                                        <td>2.000,00</td>
                                    </tr>
                                    <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                            <div class="card">
                                                <div class="card-body">
                                                    You can collapse this card by clicking Toggle
                                                </div>
                                            </div>
                                        </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
            <!--
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template *ngFor="let papel of carteira">
                    <div class="carousel-caption">
                        <h3>{{papel.sigla}} - {{papel.desc}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
            <div *ngFor="let papel of carteira">
                    <h3>{{papel.sigla}} - {{papel.desc}}</h3>
            </div>
        </div>
            -->

    </div>
</div>
